/* Personnal additions */

/* option to center a paragraph */
.center {
	text-align: center;
}

/* Legend below a figure */
.legend {
	text-align: center;
	font-style: italic;
}

.linebreak {
	break-after: always;
}